.menu {
    display: flex;
    flex-flow: row wrap;

    h1,
    h2 {
        width: 100%;
        padding-left: 2rem;
    }

    &__drink {
        width: 40%;
        padding: 2rem;

        h2 {
            margin-bottom: 1rem;
            padding-left: 0;
        }

        &__list {
            &__items {
                display: flex;
                justify-content: space-between;

                span:first-child {
                    margin-bottom: 1rem;
                }
            }
        }
    }
}
